.record
{
    display: inline-block;
    background-color: white;
    margin: 7px 5px;
    border-radius: 5px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: 0.2s;
    cursor: pointer;
    background: #03b1fc;
    color: white;
}

.record:hover
{
    transform: translate(1.5px, -1.5px);
}
.nameField
{
    display: block;
}

.recordName
{
    display: block;
}

.paginationButtons
{
    display: flex;
    align-items: center;
    margin: 0 auto;
    margin-top: 15px;
}

.pageNumber
{
    margin: 0 5px;
}